@page "/counter"


@page "/form-example-1"
@using Microsoft.Extensions.Logging
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Components.Forms;

<EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <Microsoft.AspNetCore.Components.Forms.ValidationSummary />

    <InputText id="name" @bind-Value="exampleModel.Name" />

    <button type="submit">Submit</button>
</EditForm>

@code {
    private ExampleModel exampleModel = new();

    private void HandleValidSubmit()
    {

        // Process the valid form
    }
}
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    public class ExampleModel
    {
        [Required]
        [StringLength(10, ErrorMessage = "Name is too long.")]
        public string? Name { get; set; }
    }
}
